@import "./partials/variables";
@import "./partials/mixin";
@import "./partials/general";
@import "./partials/font";
@import "./component/header";
@import "./component/videoList";
@import "./component/videoDetails";
@import "./component/commentForm";
@import "./component/commentList";
@import "./component/userImage";
@import "./component/playVideo";
@import "./component/uploadButton";
@import "./component/uploadForm";
@import "./component/uploadHead";
@import "./component/uploadImage";

.main {
  @include desktop {
    display: flex;
  }
  &__DetailsComment {
    @include desktop {
      margin-right: 2rem;
    }
  }
}
.imageForm {
  @include desktop {
    display: flex;
    //border-bottom: solid 0.06rem $Mercury;
  }
}
