* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: AvenirNext LT Pro;
  color: #323232;
  margin: 0;
}

.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/my-font/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/my-font/AvenirNextLTPro-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/my-font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/my-font/AvenirNextLTPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/my-font/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/my-font/AvenirNextLTPro-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/my-font/AvenirNextLTPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro UltLight";
  src: url("../../assets/my-font/AvenirNextLTPro-UltLt.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: AvenirNext LT Pro;
  color: #323232;
  margin: 0;
}

.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

ul {
  list-style: none;
}

.header {
  height: 10.56rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  height: 3rem;
  width: 39%;
  margin: 0 auto;
}

.header__search {
  font-size: 0.8rem;
  width: 100%;
  height: 3rem;
  border-radius: 0.3rem;
  background-color: #fafafa;
  padding: 0;
  border: solid 0.01rem #e1e1e1;
}

.header__search:focus {
  outline: none;
}

.header__btnimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.header__button {
  font-size: 0.9rem;
  font-weight: 400;
  width: 78%;
  height: 3rem;
  background-color: #0095ff;
  color: #ffffff;
  border-radius: 0.3rem;
  border: none;
  margin-right: 1rem;
}

.header__userImg {
  height: 3rem;
  width: 3rem;
  background-image: url(../../assets/Images/Mohan-muruge.jpg);
  border-radius: 50%;
  background-position: left;
  background-size: cover;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: AvenirNext LT Pro;
  color: #323232;
  margin: 0;
}

.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

ul {
  list-style: none;
}

.videoList__img {
  width: 7.5rem;
  height: 4.37rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: AvenirNext LT Pro;
  color: #323232;
  margin: 0;
}

.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

ul {
  list-style: none;
}

.details__head {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.details__channeltime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.details__channel {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.details__time {
  margin-left: 0.5rem;
  color: #afafaf;
}

.details__vIcon {
  margin-right: 0.5rem;
  margin-bottom: 1.5rem;
}

.details__lIcon {
  margin-right: 0.5rem;
  margin-bottom: 1.5rem;
}

.details__viewsLikes {
  border-bottom: 0.02rem solid #e1e1e1;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.details__views {
  margin-right: 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.details__likes {
  font-size: 0.9rem;
  font-weight: 500;
}

.details__description {
  font-size: 0.81rem;
  line-height: 1.12rem;
  font-weight: 500;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: AvenirNext LT Pro;
  color: #323232;
  margin: 0;
}

.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

ul {
  list-style: none;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__commentCounter {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.form__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 77%;
}

.form__lable {
  color: #afafaf;
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.form__input {
  height: 5rem;
  font-size: 0.81rem;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  background-color: #fafafa;
  border: solid 0.01rem #e1e1e1;
}

.form__input:focus {
  outline: none;
  border-color: #0095ff;
  border-width: 0.04rem;
}

.form__button {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  height: 3rem;
  background-color: #0095ff;
  color: #ffffff;
  border-radius: 0.3rem;
  border: none;
}

.form__image {
  height: 3rem;
  width: 3rem;
  background-image: url(../../assets/Images/Mohan-muruge.jpg);
  border-radius: 50%;
  background-position: left;
  background-size: cover;
  margin-top: 1.3rem;
}

.form__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__video {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */