@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
@mixin uploadInput {
  background-color: $lightgray;
  border-radius: 0.3rem;
  width: 100%;
  border-color: $Mercury;
  padding-left: 0.9rem;
  font-family: AvenirNext LT Pro, sans-serif;
  font-size: 0.87rem;
  font-weight: 500;
}
