* {
  box-sizing: border-box;
  font-size: 16px;
}
body {
  font-family: AvenirNext LT Pro;
  color: $black;
  margin: 0;
}
.container {
  margin-left: 1rem;
  margin-right: 1rem;
}
ul {
  list-style: none  ;
}
