@import "../partials/variables";
@import "../partials/mixin";
@import "../partials/general";

.form {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid $Mercury;
  &__commentCounter {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    @include tablet {
      margin-top: 4rem;
      justify-content: baseline;
    }
  }
  &__add {
    display: flex;
    flex-direction: column;
    width: 77%;
    @include tablet {
      flex-direction: row;
      width: 92%;
    }
  }
  &__lableInput {
    @include tablet {
      display: flex;
      flex-direction: column;
      margin-right: 1rem;
    }
  }
  &__lable {
    color: $silver;
    font-size: 0.75rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  &__input {
    width: 100%;
    font-size: 0.81rem;
    height: 5rem;
    font-family: AvenirNext LT Pro;
    font-weight: 500;
    border-radius: 0.2rem;
    background-color: $lightgray;
    border: solid 0.02rem $Mercury;
    &:focus {
      outline: none;
      border-color: $lightBlue;
      border-width: 0.1rem;
    }
    @include tablet {
      height: 3rem;
      width: 27.5rem;
      margin-bottom: 1.5rem;
    }
    @include desktop {
      width: 27.25rem;
    }
  }
  &__button {
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    height: 3rem;
    background-color: $lightBlue;
    color: $white;
    border-radius: 0.3rem;
    border: none;
    &:focus {
      outline: none;
    }
    @include tablet {
      margin-right: 2.5rem;
      width: 10rem;
      padding: 0;
      margin-bottom: 0rem;
      margin-top: 1.35rem;
    }
  }
  &__image {
    margin-top: 1.3rem;
  }
  &__comment {
    display: flex;
    @include tablet {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }
}
