@import "../partials/variables";
@import "../partials/mixin";
@import "../partials/general";

.videoList {
  padding-left: 0;
  margin-bottom: 0;
  @include desktop {
    margin-left: 0 !important;
  }

  &__header {
    color: $silver;
    font-size: 0.75rem;
    font-weight: 500;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    @include tablet {
      font-size: 0.82rem;
    }
  }
  &__items {
    display: flex;
    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 70%;
    }
  }
  &__img {
    min-width: 7.5rem;
    width: 7.5rem;
    height: 4.37rem;
    margin-bottom: 1.5rem;
    border-radius: 0.3rem;
  }
  &__title {
    font-size: 0.87rem;
    margin-top: 0;
    margin-bottom: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include tablet {
      font-size: 0.98rem;
      font-weight: 600;
      line-height: 1.5rem;
      margin-bottom: 0.5rem;
    }
    @include desktop {
      font-size: 1.05rem;
      font-weight: 600;
    }
  }
  &__details {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    @include tablet {
      margin-left: 1.5rem;
    }
  }
  &__channel {
    margin-top: 0;
    font-size: 0.81rem;
    font-weight: 500;
    @include tablet {
      font-size: 0.87rem;
    }
    @include desktop {
      font-size: 0.91rem;
    }
  }
}
